#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_BitShekel
#build/BitShekeld::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_BitShekel)

DEB_INSTALL_EXAMPLES_BitShekeld += debian/examples/*
DEB_INSTALL_MANPAGES_BitShekeld += debian/manpages/*

%:
	dh $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix BitShekeld
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f BitShekel-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake BitShekel-qt.pro USE_SSL=1 USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_BitShekel
	src/test_BitShekel

# Ensure wrapper is set executable
binary-post-install/BitShekeld:
	chmod +x $(cdbs_curdestdir)usr/bin/BitShekeld
binary-post-install/BitShekel-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/BitShekel-qt
